@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Macondo&family=Oswald:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Macondo&family=Oswald:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: bebas neue;
}
nav {
  background: rgb(255, 6, 72);
  background: radial-gradient(
    circle,
    rgba(255, 6, 72, 1) 55%,
    rgba(115, 13, 40, 1) 100%
  );
  padding: 0.5rem;
  width: 100%;
}
nav ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
nav ul li a img {
  width: 21rem;
  height: 6rem;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover {
  color: #730d28;
}
nav ul li a img:hover {
  transform: scale(1.05);
}
body {
  background-color: #1a1e26;
  background-image: url(/img/linhas.png);
  background-blend-mode: overlay;
}

div.imagem {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
div#container {
  justify-content: center;
  width: 100%;
}
img#imagens {
  border: solid 3px #c5c9c1;
  width: 28rem;
  height: 32.5rem;
  margin-left: 10rem;
}
div#tudo {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#detalhes {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: solid 1px #f2134f;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  height: 50rem;
  background: #0d0d0d74;
  box-shadow: 1rem 1rem 1rem 1rem #00000060;
}

section#detalhes div.infos {
  text-align: center;
  border: solid 1px #ffffff;
  padding: 0.6rem;
  background-color: #f2134f;
  margin-top: 0rem;
  width: 20rem;
  border-radius: 0 2rem 2rem 0rem;
  margin-right: 10rem;
  opacity: 80%;
}
section#detalhes div.infos:hover {
  opacity: 1;
}
section#detalhes div.infos h2 {
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
section#detalhes div.infos p {
  color: #ffffff;
  font-family: roboto;

  width: 100%;
}

section#detalhes h2#titulo {
  color: #f2134f;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 3rem;
}
section#detalhes div.botoes{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
section#detalhes a{
  border: solid 1px white;
  margin: 2rem;
  text-align: center;
  font-size: 1.4rem;
  width: 6rem;
  background-color: #f2134f;
  border-radius: 1.3rem;
  color: #ffffff;
  padding: .8rem;
  text-decoration: none;
  transition: .2s ease-in-out;
}
section#detalhes a:hover{
  background-color: #730d28;
  transform: scale(1.04);
}
@media only screen and (max-width: 900px){

  nav {
    margin-top: 0;
    z-index: 101;
    position: relative;
    background: rgb(255, 6, 72);
    background: radial-gradient(
      circle,
      rgba(255, 6, 72, 1) 55%,
      rgba(115, 13, 40, 1) 100%
    );
    padding: 0.5rem;
    width: 100%;
  }
  nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    transition: 0.3s ease-in-out;
  }
  nav ul li a img {
    width: 12rem;
    height: 4rem;
    transition: 0.2s ease-in-out;
  }
  nav ul li a:hover {
    color: #730d28;
  }
  nav ul li a img:hover {
    transform: scale(1.05);
  }
  div.imagem {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  div#container {
    justify-content: center;
    width: 100%;
  }
  img#imagens {
    border: solid 3px #c5c9c1;
    width: 21rem;
    height: 25.5rem;
    margin-left: 10rem;
  }
  div#tudo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section#detalhes {
    margin-top: 10rem;
    margin-bottom: 10rem;
    border: solid 1px #f2134f;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 50rem;
    background: #0d0d0d74;
    box-shadow: 1rem 1rem 1rem 1rem #00000060;
  }
  section#detalhes div.infos {
    text-align: center;
    border: solid 1px #ffffff;
    padding: 0.3rem;
    background-color: #f2134f;
    margin-top: 0rem;
    width: 10rem;
    border-radius: 0rem;
    margin-right: 10rem;
    opacity: 80%;
  }
  section#detalhes div.infos h2 {
    color: #ffffff;
    letter-spacing: 0.1rem;
    font-size: .8rem;
    margin-bottom: .3rem;
  }
  section#detalhes div.infos p {
    color: #ffffff;
    font-family: roboto;
    font-size: .8rem;
  
    width: 100%;
  }
  

}
@media only screen and (max-width: 550px){

  nav {
    margin-top: 0;
    z-index: 101;
    position: relative;
    background: rgb(255, 6, 72);
    background: radial-gradient(
      circle,
      rgba(255, 6, 72, 1) 55%,
      rgba(115, 13, 40, 1) 100%
    );
    padding: 0.5rem;
    width: 100%;
  }
  nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    transition: 0.3s ease-in-out;
  }
  nav ul li a img {
    width: 12rem;
    height: 4rem;
    transition: 0.2s ease-in-out;
  }
  nav ul li a:hover {
    color: #730d28;
  }
  nav ul li a img:hover {
    transform: scale(1.05);
  }
  div.imagem {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  div#container {
    justify-content: center;
    width: 100%;
  }
  img#imagens {
    border: solid 3px #c5c9c1;
    width: 10rem;
    height: 14.5rem;
    margin-left: 10rem;
  }
  div#tudo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section#detalhes {
    margin-top: 6rem;
    margin-bottom: 10rem;
    border: solid 1px #f2134f;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 34rem;
    background: #0d0d0d74;
    box-shadow: 1rem 1rem 1rem 1rem #00000060;
  }
  section#detalhes div.infos {
    text-align: center;
    border: solid 1px #ffffff;
    padding: 0.1rem;
    background-color: #f2134f;
    margin-top: 0rem;
    width: 10rem;
    border-radius: 0rem;
    margin-right: 10rem;
    opacity: 80%;
  }
  section#detalhes div.infos h2 {
    color: #ffffff;
    letter-spacing: 0.1rem;
    font-size: .6rem;
    margin-bottom: .3rem;
  }
  section#detalhes div.infos p {
    color: #ffffff;
    font-family: roboto;
    font-size: .6rem;
  
    width: 100%;
  }
  section#detalhes h2#titulo {
    color: #f2134f;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 3rem;
  }
  section#detalhes div.botoes{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  section#detalhes a{
    border: solid 1px white;
    margin: 1rem;
    text-align: center;
    font-size: .7rem;
    width: 3rem;
    background-color: #f2134f;
    border-radius: 1.3rem;
    color: #ffffff;
    padding: .4rem;
    text-decoration: none;
    transition: .2s ease-in-out;
  }
  

}
